body, html {
   margin: 0;
   padding: 0;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/coffeehouse.jpg");
    min-height: 75%;
}
.menu {
    display: none;
}

/* NAVIGATION BAR Begin */
#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    margin-left: 85%;
}

#menu {
    margin: 1px 2px 2px 2px;
}

ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-size: 20px;
}

li a {
    display: block;
    color: #1b3b6d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    margin-left: 5px;
}

li a:hover {
    background-color: rgb(126, 203, 233);
    color: white;
}

.navigation {
    background-color: rgb(23, 182, 221);
    margin-bottom: 0;
}

/* NAVIGATION BAR End */

/* HEADER Begin */
.gradient{
    /* width: 130em;
    height: 30em; */
    height:30em;
    background: rgb(126, 203, 233); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( rgb(126, 203, 233) 50%, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgb(126, 203, 233) 50%, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgb(126, 203, 233) 50%, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgb(126, 203, 233) 50%, white); /* Standard syntax */
    z-index: -1;
    position: relative;
}

.profile-image {
    width: 12%;
    height: auto;
    border-radius: 5%;
    margin: 3% 20% 15% 60%;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-content {
    margin: 3% 60% 15% 20%;
    position: absolute;
    color:#1b3b6d;
}

/* HEADER End */

/* CONTENT Begin */
.inner-wrapper {
	width: 95%;
    background-color: white;
    margin: auto;
}

.icon {
    position: relative;
    display: inline-block;
    margin: 2em;
}

.language-icon {
    width: 10em;
    height: 10em;
}

.icon-caption {
    font-family: 'Trocchi', serif;
    position: absolute;
    margin: 3em 8em 7em 2em;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

.icon:hover .icon-caption{
    display: block;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.language-icon:hover {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: opacity 0.5s, transform 0.5s;
}

/* CONTENT End */

/* MEDIA */

@media screen and (max-width: 1400px) {
    .gradient {
        /* width: 105em; */
        height: 20em;
    }
}

@media screen and (max-width: 1300px) {
    .gradient {
        /* width: 100em; */
        height: 30em; 
    }
}

@media screen and (max-width: 1135px){
    .gradient {
        /* width: 90em; */
        height: 30em; 
    }

    .profile-content {
        margin-top: 3%;
        margin-bottom: 20%;
        margin-left: 20%;
        margin-right: 50%;
    }

    .profile-image {
        height: 175px;
        width: 135px;
        margin-right: 10%;
        margin-top: 4%;
    }
}

 @media screen and (max-width: 700px) {
     /* .profile-content {
         margin: 3% 30% 3% 30%;
         clear: both;
     } */

     .profile-content {
         margin: 3% 70% 20% 5%;
     }

     .profile-image {
        margin: 3% 10% 20% 40%;
    }
 }

 @media screen and (max-width: 600px) {
    .profile-content {
        margin: 3% 70% 20% 3%;
    }

    .profile-image {
       margin: 3% 10% 20% 35%;
   }
}

@media screen and (max-width: 550px) {

    /* NAVIGATION Begins */
    li a {
        display: block;
        color: #1b3b6d;
        text-align: center;
        padding: 14px 62px;
        text-decoration: none !important;
        margin: 0;
    }
    /* NAVIGATION Ends */

    /* HEADER Begins */
    .gradient {
        height: 40em;
    }
    
    .profile-content {
        margin: 25% 62% 10% 6%;
        text-align: center;
    }

    .profile-image {
       margin: 3% 58% 10% 17%;
       box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
   }
   /* HEADER Ends */
}

@media screen and (max-width: 538px) {
    /* NAVIGATION Begins */
    li a {
        display: block;
        color: #1b3b6d;
        text-align: center;
        padding: 14px 60px;
        text-decoration: none !important;
        margin: 0;
    }
    /* NAVIGATION Ends */
}

@media screen and (max-width: 526px) {
    /* NAVIGATION Begins */
    li a {
        display: block;
        color: #1b3b6d;
        text-align: center;
        padding: 14px 58px;
        text-decoration: none !important;
        margin: 0;
    }
    /* NAVIGATION Ends */
}

@media screen and (max-width: 514px) {
    /* NAVIGATION Begins */
    li a {
        display: block;
        color: #1b3b6d;
        text-align: center;
        padding: 14px 56px;
        text-decoration: none !important;
        margin: 0;
    }
    /* NAVIGATION Ends */

}

@media screen and (max-width: 503px) {
    /* NAVIGATION Begins */
    li a {
        display: block;
        color: #1b3b6d;
        text-align: center;
        padding: 14px 54px;
        text-decoration: none !important;
        margin: 0;
    }
    /* NAVIGATION Ends */

}

@media screen and (max-width: 490px) {
    /* NAVIGATION Begin */
     #menu-icon {
         display: inline-block;
     }

    nav ul, nav:active ul {
          display: none;
      }

      nav {
        background-color: rgb(23, 182, 221);
      }
    /* NAVIGATION End */

    /* HEADER Begin */
    .profile-image {
        margin-top: 3%;
        margin-bottom: 10%;
        margin-left: 15%;
    }
    /* HEADER End */
}

