<div id="home-header">
    <div class="logo">
        <a href="#">
            David
            <span>Tram</span>
        </a>
    </div>
</div>
<div class="container">
    <div class="sidebar">
        <ul class="navigation">
            <li ui-sref-active="active">
                <a ui-sref='app.home'>DashBoard</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.icon.list">Icons</a>
            </li>
            <li ui-sref-active="active">
                <a href="#">Skills</a>
            </li>
            <li ui-sref-active="active">
                <a href="#">Metrics</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div ui-view="content"></div>
    </div>
</div>